<%- include('includes/head.ejs') %>
</head>

<body style="text-align: center;">
    <%- include('includes/navigation.ejs') %>
    <h1> Internal Server Error  </h1>
    <p>We are trying to fix this issue asap. Sorry, for the inconvenience </p>

<%- include('includes/end.ejs') %>